@import url(https://fonts.googleapis.com/css?family=Lato:600);
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* TEMP */


/* MAIN */

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }  

header {
    display: grid;
    background-color: black;
    color: white;
}

footer {
    display: flex;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

a, p, h1 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

a:hover {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    transform: scale(1.1);
    text-decoration: none;
    color: rgb(161, 155, 243);

}

img {
    border-radius: 25px;
}

iframe {
    border: none;
}

/* CLASSES */

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 50% 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 42px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 32px;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    justify-content: center; 
    align-items: center;
    margin-left: 30%;
    width: 40%;
    height: 40%;
}

.section4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section5 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #20122e;
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon {
    width: 256px;
    height: 256px;
}

.section1 > div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.section1 img {
    width: 128px;
    height: 128px;
}

.section3 img {
    width: 100%;
    height: 100%;
}

.banner_img {
    display: block;
}

.cover {
    width: 256px;
    height: 256px;
}

.rec {
    display: none;
}

.rec.ativo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.banner h2 {
    font-size: 3rem;
}

/* IDS */

#main {
    background-color: rgb(34, 31, 71);
    display: grid;
    gap: 64px;
    justify-content: center;
    text-align: center;
}

#section1link {
    grid-column: 4 / 4;
}

#s1excep {
    width: 256px;
    height: 512px;
}

#s3excep {
    width: 100%;
    height: 100%;
}

#logo {
    width: 128px;
    height: 128px;
    grid-column: 2 / 2;
}

#title {
    font-size: 100px;
    top: 35%; /* Center vertically */
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%); /* Adjust for exact center */
    text-align: center; /* Center text */
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    padding: 10px; /* Optional: padding around text */
    border-radius: 5px; /* Optional: rounded corners */
    color: #d0b8f5;
    font-family: "Jersey 15", sans-serif;
    font-weight: 10;
}

#prev {
    order: -1;
    width: 64px;
    height: 64px;
}

#prev:hover {
    transform: scale(1.1);
}

#next:hover {
    transform: scale(1.1);
}

#next {
    width: 64px;
    height: 64px;
}

#bannerContainer {
    width: 100%;
    height: 496px;
    border-radius: 0;
} 

#s1_2 {
    grid-area: 1 / 2 / 1 / 2;
    font-size: 50px;
}


#s1_4 {
    grid-area: 2 / 1 / 5 / 1;
}

#s1_5 {
    grid-area: 2 / 2 / 2 / 2;
}

#s1_6 {
    grid-area: 2 / 3 / 2 / 3;
}

#s1_7 {
    grid-area: 3 / 2 / 3 / 2;
}

#s1_8 {
    grid-area: 3 / 3 / 3 / 3;
}

#s1_9 {
    grid-area: 4 / 2 / 4 / 2;
}

#s1_10 {
    grid-area: 4 / 3 / 4 / 3;
}



#s2_1 {
    grid-area: 1 / 1 / 1 / 1;
    background-color: #7271b8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top:#7271b8 solid 30px;
}

#s2_2 {
    grid-area: 1 / 2 / 1 / 2;
    background-color: #7271b8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top:#7271b8 solid 30px;
}

#s2_3 {
    grid-area: 1 / 3 / 1 / 3;
    background-color: #7271b8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top:#7271b8 solid 30px;
}

#s2_4 {
    grid-area: 2 / 1 / 2 / 1;
    background-color: #7271b8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#s2_5 {
    grid-area: 2 / 2 / 2 / 2;
    background-color: #7271b8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#s2_6 {
    grid-area: 2 / 3 / 2 / 3;
    background-color: #7271b8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#s3_1 {
    grid-area: 1 / 1 / 3 / 3;
}

#s3_2 {
    grid-area: 1 / 3 / 1 / 3;
}

#s3_3 {
    grid-area: 2 / 3 / 2 / 3;
}

#s3_4 {
    grid-area: 3 / 1 / 3 / 1;
}

#s3_5 {
    grid-area: 3 / 2 / 3 / 2;
}

#s3_6 {
    grid-area: 3 / 3 / 3 / 3;
}



#s4_1 {
    grid-area: 1 / 1 / 1 / 1;
}

#s4_2 {
    grid-area: 2 / 1 / span / 1;
}

#s4_3 {
    grid-area: 1 / 2 / 3 / 3;
}

#player {
    position: fixed;
    width: 20%;
    height: 20%;
    background-color: red;
}